Repository 41x3n/Indiclang-Fraud-Shield: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy_fraud_analysis, deploy_hello1, deploy_hello2

deploy_fraud_analysis:
  stage: deploy
  environment:
    name: $CI_COMMIT_BRANCH/fraud-analysis
  script:
  - echo "üöÄ Deploying fraud-analysis to $GCP_PROJECT_ID in $GCP_REGION"
  ...

deploy_hello1:
  stage: deploy
  environment:
    name: $CI_COMMIT_BRANCH/hello-1
  script:
  - gcloud functions deploy hello-1 --gen2 --entry-point=defaultHandler --runtime=nodejs20  --trigger-http --source=apps/functions/hello-1 --allow-unauthenticated

deploy_hello2:
  stage: deploy
  environment:
    name: $CI_COMMIT_BRANCH/hello-2
  script:
  - gcloud functions deploy hello-2 --gen2 --entry-point=defaultHandler --runtime=nodejs20  --trigger-http --source=apps/functions/hello-2 --allow-unauthenticated

feat: scaffold fraud analysis function
  .gitlab-ci.yml
  .gitlab/ci/code-check.yml
  .gitlab/ci/fraud-analysis.yml
  apps/functions/fraud-analysis/app.ts
  apps/functions/fraud-analysis/index.ts
  apps/functions/fraud-analysis/package.json
  apps/functions/fraud-analysis/tsconfig.json
  dev.ts
  eslint.config.js
  lib/config.ts
  lib/logger.ts
  lib/middleware/auth.ts
  lib/middleware/errorHandler.ts
  lib/middleware/index.ts
  lib/middleware/requestLogger.ts
  lib/middleware/responseFormatter.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  types/errors.ts
  types/index.ts
  types/response.ts
Due: deploy_fraud_analysis

build: load pipeline
  .gitlab-ci.yml
  package.json
Due: none

feat: demo route for fraud analysis
  apps/functions/fraud-analysis/app.ts
  apps/functions/fraud-analysis/controllers/index.ts
  apps/functions/fraud-analysis/dtos/index.ts
  apps/functions/fraud-analysis/index.ts
  apps/functions/fraud-analysis/routes/index.ts
  apps/functions/fraud-analysis/services/index.ts
  apps/functions/hello-1/index.ts
  apps/functions/hello-2/index.ts
  eslint.config.js
  lib/error.ts
  lib/logger.ts
  lib/middleware/auth.ts
  lib/middleware/errorHandler.ts
  lib/middleware/index.ts
  lib/middleware/requestLogger.ts
  lib/middleware/responseFormatter.ts
  lib/middleware/validate.ts
  package.json
  pnpm-lock.yaml
  types/errors.ts
  types/generic.ts
  types/index.ts
  types/response.ts
Due: deploy_fraud_analysis, deploy_hello1, deploy_hello2

fix: build config
  .gitlab/ci/fraud-analysis.yml
  apps/functions/fraud-analysis/package.json
  apps/functions/fraud-analysis/src/app.ts
  apps/functions/fraud-analysis/src/controllers/index.ts
  apps/functions/fraud-analysis/src/dtos/index.ts
  apps/functions/fraud-analysis/src/index.ts
  apps/functions/fraud-analysis/src/routes/index.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/tsconfig.json
  dev.ts
  package.json
  pnpm-lock.yaml
Due: deploy_fraud_analysis

feat: heuristics calculation
  apps/functions/fraud-analysis/src/dtos/index.ts
  apps/functions/fraud-analysis/src/services/heuristics.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  lib/llm/heuristicsRules.ts
  lib/llm/message-bank.ts
  lib/logger.ts
  types/heuristic.ts
  types/index.ts
  types/message-bank.ts
Due: none

feat: initial implementation of languageDetectorAgent
  .gitlab/ci/fraud-analysis.yml
  apps/functions/fraud-analysis/package.json
  apps/functions/fraud-analysis/src/agents/index.ts
  apps/functions/fraud-analysis/src/agents/languageDetectorAgent.ts
  apps/functions/fraud-analysis/src/controllers/index.ts
  apps/functions/fraud-analysis/src/index.ts
  apps/functions/fraud-analysis/src/services/heuristics.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  lib/config.ts
  lib/logger.ts
  lib/middleware/auth.ts
  lib/middleware/requestLogger.ts
  pnpm-lock.yaml
  types/index.ts
  types/llm.ts
Due: deploy_fraud_analysis

feat: Scam classifier agent
  apps/functions/fraud-analysis/src/agents/languageDetectorAgent.ts
  apps/functions/fraud-analysis/src/agents/scamClassifierAgent.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  lib/llm/message-bank.ts
  types/index.ts
  types/llm.ts
  types/message-bank.ts
Due: none

refactor: entire codebase
  .gitlab-ci.yml
  .gitlab/ci/functions.hello-1.yml
  .gitlab/ci/functions.hello-2.yml
  apps/functions/fraud-analysis/package.json
  apps/functions/fraud-analysis/src/agents/Agent.ts
  apps/functions/fraud-analysis/src/agents/languageDetectorAgent.ts
  apps/functions/fraud-analysis/src/agents/scamClassifierAgent.ts
  apps/functions/fraud-analysis/src/app.ts
  apps/functions/fraud-analysis/src/config/llm.ts
  apps/functions/fraud-analysis/src/index.ts
  apps/functions/fraud-analysis/src/services/heuristicEngine.ts
  apps/functions/fraud-analysis/src/services/heuristics.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  apps/functions/fraud-analysis/src/templates/languageDetector.ts
  apps/functions/fraud-analysis/src/templates/scamClassifier.ts
  apps/functions/hello-1/index.ts
  apps/functions/hello-1/package.json
  apps/functions/hello-1/tsconfig.json
  apps/functions/hello-2/index.ts
  apps/functions/hello-2/package.json
  apps/functions/hello-2/tsconfig.json
  dev.ts
  eslint.config.js
  lib/config.ts
  lib/llm/heuristicsRules.ts
  lib/llm/message-bank.ts
  lib/llm/types.ts
  lib/logger.ts
  lib/middleware/requestLogger.ts
  lib/middleware/responseFormatter.ts
  lib/middleware/validate.ts
  package.json
  pnpm-lock.yaml
  types/index.ts
  types/llm.ts
Due: deploy_fraud_analysis, deploy_hello1, deploy_hello2

feat: Whatsapp Integration
  .gitlab-ci.yml
  .gitlab/ci/whatsapp-callback.yml
  apps/functions/fraud-analysis/src/templates/scamClassifier.ts
  apps/functions/whatsapp-callback/package.json
  apps/functions/whatsapp-callback/src/app.ts
  apps/functions/whatsapp-callback/src/config/firestore.ts
  apps/functions/whatsapp-callback/src/controllers/index.ts
  apps/functions/whatsapp-callback/src/dtos/index.ts
  apps/functions/whatsapp-callback/src/firebase/repositories/message.repository.ts
  apps/functions/whatsapp-callback/src/firebase/repositories/user.repository.ts
  apps/functions/whatsapp-callback/src/firebase/services/message.service.ts
  apps/functions/whatsapp-callback/src/firebase/services/user.service.ts
  apps/functions/whatsapp-callback/src/index.ts
  apps/functions/whatsapp-callback/src/routes/index.ts
  apps/functions/whatsapp-callback/src/services/imageMessage.service.ts
  apps/functions/whatsapp-callback/src/services/index.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  apps/functions/whatsapp-callback/src/services/textMessage.service.ts
  apps/functions/whatsapp-callback/src/twilio/twilio.service.ts
  apps/functions/whatsapp-callback/tsconfig.json
  dev.ts
  lib/config.ts
  package.json
  pnpm-lock.yaml
Due: none

build: correct build name
  .gitlab/ci/whatsapp-callback.yml
Due: none

feat: Extract and analyse chat screenshot
  apps/functions/fraud-analysis/package.json
  apps/functions/fraud-analysis/src/agents/geminiExtractAgent.ts
  apps/functions/fraud-analysis/src/config/llm.ts
  apps/functions/fraud-analysis/src/controllers/analyzeScreenshot.ts
  apps/functions/fraud-analysis/src/dtos/index.ts
  apps/functions/fraud-analysis/src/dtos/screenshot.ts
  apps/functions/fraud-analysis/src/routes/index.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  apps/functions/fraud-analysis/src/templates/geminiExtractMessageAndTags.ts
  lib/llm/types.ts
  pnpm-lock.yaml
  types/errors.ts
Due: deploy_fraud_analysis

build: fix missing envs
  .gitlab/ci/fraud-analysis.yml
Due: none

feat: Handle image on whatsapp alongside translation
  .gitlab/ci/fraud-analysis.yml
  .gitlab/ci/whatsapp-callback.yml
  apps/functions/fraud-analysis/src/agents/translatorAgent.ts
  apps/functions/fraud-analysis/src/config/llm.ts
  apps/functions/fraud-analysis/src/services/index.ts
  apps/functions/fraud-analysis/src/services/llm.ts
  apps/functions/fraud-analysis/src/templates/translator.ts
  apps/functions/whatsapp-callback/src/services/imageMessage.service.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  lib/config.ts
  lib/llm/types.ts
Due: none

refactor: shift db logic to lib to use in telegram function
  apps/functions/whatsapp-callback/src/services/imageMessage.service.ts
  apps/functions/whatsapp-callback/src/services/index.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  apps/functions/whatsapp-callback/src/services/textMessage.service.ts
  lib/db/config/firestore.ts
  lib/db/firebase/repositories/message.repository.ts
  lib/db/firebase/repositories/user.repository.ts
  lib/db/firebase/services/message.service.ts
  lib/db/firebase/services/user.service.ts
  package.json
  pnpm-lock.yaml
Due: none

feat: Turn DB generic to handle telegram
  apps/functions/whatsapp-callback/src/services/imageMessage.service.ts
  apps/functions/whatsapp-callback/src/services/index.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  apps/functions/whatsapp-callback/src/services/textMessage.service.ts
  lib/db/firebase/repositories/message.repository.ts
  lib/db/firebase/repositories/user.repository.ts
  lib/db/firebase/services/message.service.ts
  lib/db/firebase/services/user.service.ts
Due: none

feat: Telegram Layer
  .gitlab-ci.yml
  .gitlab/ci/telegram-callback.yml
  .gitlab/ci/whatsapp-callback.yml
  apps/functions/telegram-callback/package.json
  apps/functions/telegram-callback/src/app.ts
  apps/functions/telegram-callback/src/controllers/index.ts
  apps/functions/telegram-callback/src/index.ts
  apps/functions/telegram-callback/src/routes/index.ts
  apps/functions/telegram-callback/src/services/imageMessage.service.ts
  apps/functions/telegram-callback/src/services/index.ts
  apps/functions/telegram-callback/src/services/interactiveMessage.service.ts
  apps/functions/telegram-callback/src/services/llm.service.ts
  apps/functions/telegram-callback/src/services/textMessage.service.ts
  apps/functions/telegram-callback/tsconfig.json
  dev.ts
  lib/config.ts
  pnpm-lock.yaml
Due: none

refactor: copy writing changes
  apps/functions/telegram-callback/src/services/imageMessage.service.ts
  apps/functions/telegram-callback/src/services/interactiveMessage.service.ts
  apps/functions/telegram-callback/src/services/llm.service.ts
  apps/functions/telegram-callback/src/services/textMessage.service.ts
Due: none

feat: save llm response
  apps/functions/telegram-callback/src/services/llm.service.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  lib/db/firebase/repositories/analysisResult.repository.ts
  lib/db/firebase/services/analysisResult.service.ts
Due: none

feat: Adds rate limiting and user experience improvements
  apps/functions/telegram-callback/src/services/commandHandler.service.ts
  apps/functions/telegram-callback/src/services/imageMessage.service.ts
  apps/functions/telegram-callback/src/services/index.ts
  apps/functions/telegram-callback/src/services/interactiveMessage.service.ts
  apps/functions/telegram-callback/src/services/messageProcessing.service.ts
  apps/functions/telegram-callback/src/services/onboarding.service.ts
  apps/functions/telegram-callback/src/services/textMessage.service.ts
  apps/functions/whatsapp-callback/src/services/index.ts
  apps/functions/whatsapp-callback/src/services/interactiveMessage.service.ts
  apps/functions/whatsapp-callback/src/services/textMessage.service.ts
  lib/db/firebase/repositories/user.repository.ts
  lib/db/firebase/services/userQuota.service.ts
Due: none

chore: copy content change
  README.md
Due: none

chore: copy content change (#1)
  README.md
Due: none

feat: add an env template file
  .env.template
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  deploy_fraud_analysis: any of: apps/functions/fraud-analysis/**, .gitlab/ci/functions.fraud-analysis.yml
  deploy_hello1: any of: apps/functions/hello-1/**
  deploy_hello2: any of: apps/functions/hello-2/**
